.pageTabBadge {
	position: relative;
	top: -12px; 
	right: 10px;
	z-index: 1;
	background-color:red;
	color:white;
	font-size: smaller;
	font-weight: bold;
	font-family: Arial, Verdana, sans-serif;
	/*
	border-width:4px;
	border-style:solid;
	border-color:white;
	*/
	/*
	outline-color:red;
	outline-style:double;
	outline-width:4px;
	*/
	padding: 2px;
	-webkit-border-radius: 5px;    /* for Safari */
	-moz-border-radius: 5px;       /* for Firefox */
}